body {
    background-color: #ffffff;
}

#banner {
    height: 150px;
    border: 3px solid #e3e3e3;
    background-color: #581523;
    background-image: url(../img/test.png);
}

#navigation {
    height: 60px;
}

#headerImage {
    height: 100px;
    background-repeat: no-repeat;
    background-image: url(../img/ChocoMambo.logo.transparent.png);
    margin-top: 10px;
    margin-left: 10px;
}

#wrapper {
    width: 1080px;
    
    margin: auto;
    background-color: #ffffff;
    background-position-y: bottom;
    
}


#navBar {
    list-style: none;
    width: 1080px;
    margin: auto;
}

    #navBar ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width: auto;
        display: none;
    }

    #navBar li {
        font-size: 24px;
        float: left;
        position: relative;
        width: 140px;
        height: 30px;
        border-right: 3px solid #e3e3e3;
        text-align: center;
    }

        #navBar li:last-child {
            border-right: none;
        }

        #navBar li ul li {
            border-bottom: 3px solid #e3e3e3;
            border-right: none;
            width: 180px;
            padding: 10px;
            text-align: left;
        }

            #navBar li ul li:first-child {
                padding-top: 10px;
            }

    #navBar a:link, #navBar a:active, #navBar a:visited {
        display: block;
        color: #e3e3e3;
       
        text-decoration: none;
    }

    #navBar a:hover {
        color: #fff;
        text-decoration:underline;
        
    }

#contentArea {
    margin: 20px 0;
    
}

#footer {
    background-color: #581523;
    border: 3px solid #e3e3e3;
    clear: both;
    width: auto;
    height: 80px;
    margin-top: auto;
}
.button{
    background-color: #ffffff;
    border: 2px solid #000;
    width: 100px;    
}
#hyperlinks a{
    float:right;
    color:white;
    padding:10px;
}
#permissions{
    display:block;
}
